
@{
    ViewBag.Title = "searchNull";
    Layout = "~/Views/Shared/_LayoutCoffee.cshtml";
}

<h2>searchNull</h2>
<div class="product-box no-mg">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Home", "HomePage")">Coffee<small>Blend</small></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="@Url.Action("Home", "HomePage")" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="menu.html" class="nav-link">Menu</a></li>
                    <li class="nav-item"><a href="services.html" class="nav-link">Services</a></li>
                    <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
                    <li class="nav-item"><a href="@Url.Action("About", "HomePage") " class="nav-link">About</a></li>
                    <li class="nav-item"><a href="@Url.Action("search", "HomePage") " class="nav-link">Search</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="room.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="shop.html">Shop</a>
                            <a class="dropdown-item" href="product-single.html">Single Product</a>
                            <a class="dropdown-item" href="room.html">Cart</a>
                            <a class="dropdown-item" href="checkout.html">Checkout</a>
                        </div>
                    </li>
                    <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                    <li class="nav-item "><a href="@Url.Action("Login", "HomePage")" class="nav-link">Login</a></li>
                    <!-- <li class="nav-item cart"><a href="cart.html" class="nav-link"><span class="icon icon-shopping_cart"></span><span class="bag d-flex justify-content-center align-items-center"><small>1</small></span></a></li> -->
                    <div class="search hidden-sm hidden-xs">
                        <div class="input-cat form-search clearfix">
                            @using (Html.BeginForm("SearchResult", "Search"))
                            {
                                <li class="form-search-controls">
                                    <input type="text" name="txtSearch" id="txtsearch" placeholder="Search..." />
                                <li class="select-categories">
                                    <select name="lbgroup" id="lbgroup">
                                        <option value="0" selected="selected">ALL</option>
                                        <option class="option-1" value="1">PRODUCT</option>
                                        <option class="option-1" value="2">CATEGORY</option>
                                    </select>
                                </li>
                                </li>
                                <button class="btn btn-search" title="Search" type="submit" id="btnsearch" value="Search">
                                    <i class="fa fa-search"></i>
                                </button>
                            }

                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>  
    <h1 class="title clearfix"><span>Not Found</span></h1>
    <div class="alert alert-warning" role="alert">0 items matched your search.</div>
    @using (Html.BeginForm("Home", "HomePage"))
    {
        <button type="submit" class="btn btn-success">Back Home</button>
    }

</div>
