@model CoffeeOnlineSystem.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0">
    <link rel="stylesheet" href="~/Content/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/css/aos.css">
    <link rel="stylesheet" href="~/Content/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Content/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/Content/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/css/icomoon.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/js/bootstrap.min.js">
    <link rel="stylesheet" href="~/Content/js/jquery-3.2.1.min.js">
    <link rel="stylesheet" href="~/Content/css/css/csslogin.css">
    <title>ChangeInfor</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="zone zone-content" style="padding: 60px">
            <div class="container">
                <div class="user--profile">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="user--profile-left">
                                <ul class="user--profile--list-function">
                                    <li class="active"><a href="/user/information">Information &amp; Contact </a></li>
                                    <li><a href="/user/information/changeusername">Change user name </a></li>
                                    <li><a href="/user/information/changepassword">Change Password</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9 user--profile-right-container">
                            <div class="user--profile-right">
                                <div class="user--profile-group">
                                    <h2 class="user--profile-title-group">Information</h2>
                                    <form class="" method="post" id="frm-info" novalidate="novalidate">
                                        <div class="form-horizontal">
                                           
                                           
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(model => model.IDCustomer)

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.fullnameCus, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.fullnameCus, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.fullnameCus, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.phoneCus, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.phoneCus, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.phoneCus, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.emailCus, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.emailCus, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.emailCus, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.DOBCus, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.DOBCus, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.DOBCus, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.genderCus, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.genderCus, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.genderCus, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.usernameCus, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.usernameCus, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.usernameCus, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.statusCus, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.statusCus, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.statusCus, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group pull-right">
                                                    <button class="btn btn-sm pull-right btn-save save-info-button" type="button" id="btnSaveInfo" style="height: 35px; width: 104px; border-radius: 3px; line-height: inherit; display: block;">Save</button>
                                                    <button class="btn btn-sm pull-right btn-cancel " type="button" id="btnCancelInfo" style="height: 35px; width: 104px; border-radius: 3px; margin-right: 18px; line-height: inherit; display: block;">Cancel</button>
                                                </div>
                                            </div>


                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>
