
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_LayoutCoffee.cshtml";
}
@model IEnumerable<CoffeeOnlineSystem.Models.Product>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Coffee - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">

    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">

    <link rel="stylesheet" href="~/Content/css/aos.css">

    <link rel="stylesheet" href="~/Content/css/ionicons.min.css">

    <link rel="stylesheet" href="~/Content/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Content/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/Content/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/css/icomoon.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Home", "HomePage")">Coffee<small>Blend</small></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="@Url.Action("Home", "HomePage")" class="nav-link">Home</a></li>
                    <li class="nav-item active"><a href="@Url.Action("Menu", "HomePage")" class="nav-link">Menu</a></li>
                    <li class="nav-item"><a href="services.html" class="nav-link">Services</a></li>
                    <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
                    <li class="nav-item"><a href="@Url.Action("About", "HomePage")" class="nav-link">About</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="room.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="shop.html">Shop</a>
                            <a class="dropdown-item" href="product-single.html">Single Product</a>
                            <a class="dropdown-item" href="room.html">Cart</a>
                            <a class="dropdown-item" href="checkout.html">Checkout</a>
                        </div>
                    </li>
                    <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                    <li class="nav-item "><a href="@Url.Action("Login", "HomePage")" class="nav-link">Login</a></li>
                    <!-- <li class="nav-item cart"><a href="cart.html" class="nav-link"><span class="icon icon-shopping_cart"></span><span class="bag d-flex justify-content-center align-items-center"><small>1</small></span></a></li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    <section class="ftco-menu mb-5 pb-5">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <span class="subheading">Discover</span>
                    <h2 class="mb-4">Our Products</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
            <div class="row d-md-flex">
                <div class="col-lg-12 ftco-animate p-md-5">
                    <div class="row">
                        <div class="col-md-12 nav-link-wrap mb-5">
                            <div class="nav ftco-animate nav-pills justify-content-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Ice Blended</a>

                                <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Coffee</a>

                                <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Milk Tea</a>
                                <a class="nav-link" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab" aria-controls="v-pills-4" aria-selected="false">Cake</a>

                            </div>
                        </div>
                        <div class="col-md-15 d-flex align-items-center">

                            <div class="tab-content ftco-animate" id="v-pills-tabContent">
                                <!-- Coffee -->
                                <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
                                    <div class="row">
                                        @foreach (var emp in Model)
                                        {
                                            if (emp.IDCategory == 1)
                                            {
                                                <div class="col-md-4 text-center">
                                                    <div class="menu-wrap">
                                                        <a href="#" class="menu-img img mb-4" style="background-image: url(@emp.imageUrl);"></a>
                                                        <div class="text">
                                                            <h3><a href="#">@emp.nameProduct</a></h3>
                                                            <p>@emp.description</p>
                                                            <p class="price"><span>@emp.price $</span></p>
                                                            <p><a href="#" class="btn btn-primary btn-outline-primary">Add to cart</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                                <!-- Ice Blended -->
                                <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
                                    <div class="row">
                                        @foreach (var emp in Model)
                                        {
                                            if (emp.IDCategory == 2)
                                            {
                                                <div class="col-md-4 text-center">
                                                    <div class="menu-wrap">
                                                        <a href="#" class="menu-img img mb-4" style="background-image: url(@emp.imageUrl);"></a>
                                                        <div class="text">
                                                            <h3><a href="#">@emp.nameProduct</a></h3>
                                                            <p>@emp.description</p>
                                                            <p class="price"><span>@emp.price $</span></p>
                                                            <p><a href="#" class="btn btn-primary btn-outline-primary">Add to cart</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>

                                <!-- Milk Tea -->
                                <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
                                    <div class="row">
                                        @foreach (var emp in Model)
                                        {
                                            if (emp.IDCategory == 3)
                                            {
                                                <div class="col-md-4 text-center">
                                                    <div class="menu-wrap">
                                                        <a href="#" class="menu-img img mb-4" style="background-image: url(@emp.imageUrl);"></a>
                                                        <div class="text">
                                                            <h3><a href="#">@emp.nameProduct</a></h3>
                                                            <p>@emp.description</p>
                                                            <p class="price"><span>@emp.price $</span></p>
                                                            <p><a href="#" class="btn btn-primary btn-outline-primary">Add to cart</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                                <!-- Cake -->
                                <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab">
                                    <div class="row">
                                        @foreach (var emp in Model)
                                        {
                                            if (emp.IDCategory == 4)
                                            {
                                                <div class="col-md-4 text-center">
                                                    <div class="menu-wrap">
                                                        <a href="#" class="menu-img img mb-4" style="background-image: url(@emp.imageUrl);"></a>
                                                        <div class="text">
                                                            <h3><a href="#">@emp.nameProduct</a></h3>
                                                            <p>@emp.description</p>
                                                            <p class="price"><span>@emp.price $</span></p>
                                                            <p><a href="#" class="btn btn-primary btn-outline-primary">Add to cart</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>


